.row
  .col-md-2
  .col-md-6
    =bootstrap_form_for(@list) do |f|
      = f.text_field :name
      = f.text_area :text, rows: 30

      = link_to 'Back', lists_path, class: 'btn btn-default'
      = f.submit 'Update'
  .col-md-2
