%p
  %b Name:
  = @list.name
%p
  %b Text:
  = @list.text.gsub("\n",'<br>').html_safe

= link_to 'Edit', edit_list_path(@list), class: 'btn btn-default'

= link_to 'Back', lists_path, class: 'btn btn-default'
