.row
  .col-md-12
    %h4
      Campaigns
    %table.table.table-condensed
      %thead
      %tbody
        -@current_user.campaigns.each do |campaign|
          %tr
            %td
              = link_to campaign.name, campaign
            %td
              =campaign.sent? ? 'Sent' : 'Pending'
            %td
              =campaign.progress if campaign.progress > 0
            %td
              =link_to 'Destroy', campaign, method: :delete, class: 'btn btn-default'
              - style = campaign.sent? ? 'display:none' : ''
              =link_to 'Send out', send_campaign_path(campaign), method: :post, class: 'btn btn-info send-out', style: style
