// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.plan {
  padding: 20px;
  margin: 5px;
  border-radius: 3px;
  border: none;
  color: white;
}

.btn-plan{
  border: none;
}

button h4{
  color: white;
}

.beginner{
  background-color: #31b0d5;
}
.advanced{
  background-color: #4cae4c;
}
.special{
  background-color: #c0a16b;
}