- if @current_template.present?
  .row
    .col-md-3
      .row
        .col-md-12
          %ul.nav.nav-pills.nav-stacked
            %p
              %strong
                Existing email templates
            - @email_templates.each do |template|
              %li{role: 'presentation', class: template.id == @current_template.id ? 'active' : ''}
                %a{href: email_templates_path(id: template.id)}
                  =template.name

      .row
        .col-md-12
          %hr
      .row
        .col-md-12
          %p
            %strong
              Create new template
          .btn-group-vertical{'aria-label': 'create', role: 'group'}
            =link_to 'Create from scratch', '#',class: 'btn btn-default'
            =link_to 'Clone this one', '#', class: 'btn btn-default'
      .row
        .col-md-12
          %hr
      .row
        .col-md-12
          %p
            %strong
              Destroy template
          .btn-group-vertical{'aria-label': 'destroy', role: 'group'}
            =link_to 'Destroy', '#',class: 'btn btn-default'

    .col-md-6
      = bootstrap_form_for(@current_template) do |f|
        = f.text_field :name
        = f.text_area :text, rows: 30


        = f.submit 'Save'
    -#.col-md-3
      -#%div.pull-right
      -#  %p
      -#    %strong
      -#      New template
      -#  .btn-group-vertical{"aria-label" => "...", :role => "group"}
      -#    =link_to 'Create from scratch', '#',class: 'btn btn-default'
      -#    =link_to 'Clone this one', '#', class: 'btn btn-default'
- else
  %p You have no templates, but you can create one!

