.row
  .col-12-md
    %p.help-block
      =@response
.row
  .col-2-md
    x
  .col-8-md
    =form_tag @path, method: :post do
      .form-group
        = text_field_tag :uid, @uid || '102594557413371756317', class: 'form-control', placeholder: 'path'
      .form-group
        = text_field_tag :email, @email || 'mikhail.chuprynski@gmail.com', class: 'form-control', placeholder: 'path'
      .form-group
        = text_area_tag :data, @data, rows: 20, cols: 15, class: 'form-control', placeholder: 'data'
      .form-group
        = submit_tag 'Save', class: 'btn btn-default'
  .col-2-md